body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 80vw; */
}

.card{
  display: flex;
  flex-direction: row;
  width:33vw;
  height:20vh;

  margin: 2vw;
  /* justify-content: space-around; */
}
img{
  object-fit: cover;
  /* margin:0.5vw; */
  width:14vw;
  /* height:20vh; */
  border: chocolate 2px solid;
  /* position:relative; */
}
.card-des{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.card-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}